<head>
    <title>addtosaving</title>    
    <link rel="stylesheet" href="/css/add_to_saving.css">

<head>

<body>
<% if @error %>
  <p class="error-message"><%= @error %></p>
<% elsif @success %>
  <p class="success-message"><%= @success %></p>
<% end %>


<div class="add-to-saving-wrapper">
    <div class="add-to-saving-header">
      <h2>Agregar dinero a tu ahorro</h2>
    </div>

    <p>Meta: $<%= @saving.goal_amount %></p>
    <p>Actual: $<%= @saving.current_amount %></p>
    <p>Saldo en cuenta: $<%= @account.balance %></p>
    
    <form action="/confirm_add_to_saving/<%= @saving.id %>" method="post">
        <label>Monto a agregar:</label>
        <input type="number" name="amount" required>
        <button type="submit">Confirmar</button>
    </form>

    <a href="/my_saving">Volver a ahorros</a>

<body>