<link rel="stylesheet" href="/css/layout.css?v=<%= Time.now.to_i %>">
<link rel="stylesheet" href="/css/header.css?v=<%= Time.now.to_i %>">
<link rel="stylesheet" href="/css/home.css?v=<%= Time.now.to_i %>">

<h3>Historial de movimientos</h3>

<div class='panel'>
  <% if @movements.any? %>
    <% @movements.each do |m| %>
      <% name = if m.user == current_user
          m.destination&.user&.person
        else
          m.origin&.user&.person
        end %>

      <div class="historial-item">
        <span class="movement-type">
          <% if m.movement_type == "Ingreso" %>
            Ingreso de dinero
          <% else %>
            <%= m.user == current_user ? "Transferencia enviada a" : "Transferencia recibida de" %>
          <% end %>
        </span>

        <span class="movement-user">
          <%= "#{name&.first_name} #{name&.last_name}".strip.presence %>
        </span>

        <span class="movement-amount" style="color: <%= m.user == current_user ? 'red' : 'green' %>;">
          <%= m.user == current_user ? "-" : "+" %>$<%= sprintf('%.2f', m.amount) %>
        </span>

        <span class="movement-date">
          <%= m.date.in_time_zone("Buenos Aires").strftime("%H:%M hs · %d/%m") %>
        </span>
      </div>
    <% end %>
  <% else %>
    <p>No hay movimientos para mostrar.</p>
  <% end %>
</div>