<link rel="stylesheet" href="/css/layout.css?v=<%= Time.now.to_i %>">
<link rel="stylesheet" href="/css/header.css?v=<%= Time.now.to_i %>">
<link rel="stylesheet" href="/css/home.css?v=<%= Time.now.to_i %>">

<div class="dashboard">

  <div class="left-panel">
      <section class="discProms">
        <h2> Descuentos activos </h2>
        <ul>
          <% @account_discounts.each do |discount| %>
            <li><%= discount.description %> - <%= discount.percentage %></li>
          <% end %>
        </ul>

        <h2> Promociones activas </h2>
        <ul>
          <% @account_promos.each do |promo| %>
            <li><%= promo.description %> - Hasta: <%= promo.end_date %></li>
          <% end %>
        </ul>
      </section>

      <section class="accountIngTransf">
        <div class="account-box">
          <p class="balance">Tu dinero<br>$<%= current_user.accounts.first.balance %></p>
          <p>Alias: <%= current_user.accounts.first.alias %></p>
          <p>CVU: <%= current_user.accounts.first.cvu %></p>
          <p>Puntos: <%= current_user.accounts.first.amount_point %> </p>

          <form action="/income" method="get">
            <button class="accIT-btn" type="submit">Ingresar Dinero</button>
          </form>

          <form action="/transfer" method="get">
            <button class="accIT-btn" type="submit">Transferir Dinero</button>
          </form>
        </div>
      </section>
  </div>

  <div class="right-panel">
    <h3>Historial</h3>
    <% if @movements.any? %>
      <% @movements.each do |m| %>
        <% name = if m.user == current_user
            m.destination&.user&.person
          else
            m.origin&.user&.person
          end %>

        <div class="historial-item">
          <span class="movement-type">
            <% if m.movement_type == "Ingreso" %>
              Ingreso de dinero
            <% else %>
              <%= m.user == current_user ? "Transferencia enviada a" : "Transferencia recibida de" %>
            <% end %>
          </span>

          <span class="movement-user">
            <%= "#{name&.first_name} #{name&.last_name}".strip.presence %>
          </span>

          <span class="movement-amount" style="color: <%= m.user == current_user ? 'red' : 'green' %>;">
            <%= m.user == current_user ? "-" : "+" %>$<%= sprintf('%.2f', m.amount) %>
          </span>

          <span class="movement-date">
            <%= m.date.in_time_zone("Buenos Aires").strftime("%H:%M hs · %d/%m") %>
          </span>
        </div>
      <% end %>
    <% else %>
      <p>No hay movimientos recientes para mostrar.</p>
    <% end %>

    <a href="/history">Ver más</a>
  </div>

</div>