<!DOCTYPE html>
<html>
  <head>
    <title>Wink</title>
    <link rel="stylesheet" href="/css/layout.css?v=<%= Time.now.to_i %>">
    <% if @custom_css %>
      <link rel="stylesheet" href="<%= @custom_css %>?v=<%= Time.now.to_i %>">
    <% end %>
    <link rel="icon" href="/images/logo2.png" type="image/png">
  </head>
  <body>
    <div class="layout">
      <aside class="sidebar">
        <div class="logo"><img src="/images/logo.png" alt="Logo de Wink" class="logo-img"></div>

        <nav class="nav-links">
          <a href="/home" class="<%= 'active' if request.path_info == '/home' %>">Home</a>
          <a href="/income" class="<%= 'active' if request.path_info == '/income' %>">Ingresar Dinero</a>
          <a href="/transfer" class="<%= 'active' if request.path_info == '/transfer' %>">Transferir Dinero</a>
          <a href="/my_saving" class="<%= 'active' if request.path_info == '/my_saving' %>">Ver Ahorros</a>
          <a href="/promos" class="<%= 'active' if request.path_info == '/promos' %>">Ver Promociones</a>
          <a href="/discounts" class="<%= 'active' if request.path_info == '/discounts' %>">Ver Descuentos</a>
          <a href="/exchange" class="<%= 'active' if request.path_info == '/exchange' %>">Intercambiar Puntos</a>
          <% if current_user&.admin_check %>
            <a href="/manage_incomes" class="<%= 'active' if request.path_info == '/manage_incomes' %>">Gestionar Ingresos Pendientes</a>
          <% end %>
        </nav>
      </aside>

      <div class="content">
        <header class="topbar">
          <div class="topbar-content">
            <div class="user-greeting">Hola, <%= current_user.username %>!</div>
            <div class="buttons">
              <a href="/config"><img src="/images/settings.png" alt="Config"></a>
              <a href="/logout"><img src="/images/log_out.png" alt="Log-out"></a>
            </div>
          </div>
        </header>

        <main class="main-content">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>

</html>