<head>
    <title>All savings</title>
    <link rel="stylesheet" href="/css/my_saving.css">

</head>
<body>
    <div class="savings-wrapper">
    <div class="savings-header">

    <h1>MIS AHORROS</h1>
    
    <a href="/new_saving"><button class="normal-button">Crear nuevo ahorro</button></a>
    </div>

    <% if @message %>
     <p style="color: green;"><%= @message %></p>
    <% end %>


    <% if @savings.any? %>
      <% @savings.each do |saving| %>
        <div class="saving-card">

          <div class="saving-info">
            <strong><%= saving.description %></strong><br>
            <strong>En el cofre: $<%= saving.current_amount %> =>=>=> meta: $<%= saving.goal_amount %></strong>
          </div>

          <div class="saving-action">
            <% if saving.current_amount > 0 %>
              <img src="/images/cofre_lleno.png" alt="Cofre lleno" class="chest-icon">
            <% else %>
              <img src="/images/cofre_vacio.png" alt="Cofre vacio" class="chest-icon">
            <% end %>

            <% if saving.current_amount >= saving.goal_amount %>
              <form action="/my_saving/<%= saving.id %>/redeem" method="post">
                <button class="normal-button">Retirar</button>
              </form>
            <% else %>
              <a href="/add_to_saving/<%= saving.id %>">
                <button class="normal-button">Ingresar</button>
              </a>
            <% end %>
          </div>

        </div>
      <% end %>
    <% else %>
    <p class="no-savings">No tenés ahorros todavía.</p>
     <div class="centered">
    <img src="/images/cofre_calavera.png" alt="Cofre vacío" class="chest-icon">
  </div>
<% end %>
  </div>
</body>
</html>